<%= form_for(honey) do |f| %>
  <% if honey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(honey.errors.count, "error") %> prohibited this honey from being saved:</h2>

      <ul>
      <% honey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description_hu %>
    <%= f.text_area :description_hu %>
  </div>

  <div class="field">
    <%= f.label :description_en %>
    <%= f.text_area :description_en %>
  </div>

  <div class="field">
    <%= f.label :description_de %>
    <%= f.text_area :description_de %>
  </div>

  <div class="field">
    <%= f.label :honeyimg %>
    <%= f.file_field :honeyimg %>
  </div>

  <div class="field">
    <%= f.label :orientation_landscape %>
    <%= f.check_box :orientation_landscape %>
  </div>

  <div class="field">
    <%= f.label :rank %>
    <%= f.number_field :rank %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
