<br>
<br>

<div class="skinny_wrapper wrapper_padding">
  <h1>Honeys</h1>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Image</th>
        <th>Name</th>
        <th>Description hu</th>
        <th>Description en</th>
        <th>Description de</th>
        <th>Orientation Landscape</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @honeys.each do |honey| %>
        <tr>
          <td><%= honey.rank %></td>
          <td><%= image_tag honey.honeyimg.thumb.url %></td>
          <td><%= honey.name %></td>
          <td><%= honey.description_hu %></td>
          <td><%= honey.description_en %></td>
          <td><%= honey.description_de %></td>
          <td><%= honey.orientation_landscape %></td>
          <td><%= link_to 'Show', honey %></td>
          <td><%= link_to 'Edit', edit_honey_path(honey) %></td>
          <td><%= link_to 'Delete', honey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Honey', new_honey_path %>
</div>
