<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading"><%= t('welcome') %></div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="varieties" class="container content-section contact-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%= t('varieties') %></h2>
      <p><%= t('varieties_desc_1') %></p>
      <ul class="honey_list">
        <li><%= t('honey_akac') %></li>
        <li><%= t('honey_hars') %></li>
        <li><%= t('honey_repce') %></li>
        <li><%= t('honey_napraforgo') %></li>
        <li><%= t('honey_erdei') %></li>
        <li><%= t('honey_vegyesvirag') %></li>
        <li><%= t('honey_selyemfu') %></li>
      </ul>
      <p><%= t('varieties_desc_2') %><br><%= t('varieties_desc_3') %></p>
    </div>
  </div>
</section>


<!-- Gallery Grid Section -->
<section id="gallery" class="bg-light-gray">
  <div class="container content-section">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><%= t('gallery') %></h2>
      </div>
    </div>
    <div class="row">
      <% @honeys_portrait.each do |honey| %>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 gallery-item">
          <%= render 'image', honey: honey %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% @honeys_landscape.each do |honey| %>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 gallery-item">
          <%= render 'image', honey: honey %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="contact-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><%= t('contact') %></h2>
        <p><%= t('title') %><br>
        www.honeybolbas.cloud <br>
        info@honeybolbas.cloud <br>
<!--         <%= mail_to "info@honeybolbas.cloud" %> <br>-->
        +36 30 307 1157</p>
        <% if I18n.locale == :hu %>
          <p><%= t('producer_info_1') %><br>
          <%= t('producer_info_2') %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>
