<!-- Header -->
<header class="header_welcome">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">
        Welcome  <br>
        <h2>
        <%= link_to "Magyar", hu_main_index_path %> &nbsp;
        <%= link_to "English", en_main_index_path %> &nbsp;
        <%= link_to "Deutsch", de_main_index_path %>
        </h2>
<!--         <%= link_to de_main_index_path do %>
          <%= image_tag "flags/Germany_small.png" %>
        <% end %>
        <%= link_to en_main_index_path do %>
          <%= image_tag "flags/United_Kingdom_small.png" %>
        <% end %>
        <%= link_to hu_main_index_path do %>
          <%= image_tag "flags/Hungary_small.png" %>
        <% end %> -->
        </div>
    </div>
</header>
